@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Titan+One&display=swap');
/* importei uma fonte do site "google fonts" */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Titan+One&display=swap');



*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
    font-family: 'Titan One', cursive;

}
body{
    
background-color: rgb(211, 183, 178);

}

#menu-h {
    background-color:rgb(32, 24, 24);
}
#menu-h ul{
    max-width: 900px;
    list-style: none;
    padding: 0;
    background-color:rgb(32, 24, 24);
    display: flex;
}

#menu-h ul li{
    
    padding: 5px; 
    /* para mudar a distancia de um "bloco"  para o outro */
}

#menu-h ul li a{
    color: #fff;
    text-decoration:none;
    padding:23px;
    display: inline-block;
    transition: background .5s;
}

#menu-h ul li a:hover {
    color: rgb(121, 38, 38);
    background-color: rgb(202, 144, 144);
}



footer{
    margin-top: 2rem;
    background-image:url(./fotos/Rodape.png);
    background-size: cover;
    background-size:contain;
    padding: 40px;
    margin: 0%;
    margin-top: 20px;
    display: table;
    width: 100%;
    position:absolute;
}

footer img{
    position: relative;
}

footer dt{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(204, 175, 175);
    font-weight: bold;
}

footer dd{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(216, 135, 135);
    margin-left: 0;
}
footer p {
    text-align: right;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    display: table-cell;
    vertical-align: middle;
   

}

footer dl{
    display: table-cell;
    width: 100%;
    margin-top: 0;
    vertical-align: middle;
}
.container{
   padding-top: 300px;

}
                            /* Perfil Flores */





.flores img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;   
    height: 100px;
    width: 100px;
    display:inline-block;
    border-radius: 10px;
    
}

.flores  table { 
    display:inline-block;
    padding-left: 0px;
    background-color: rgb(180, 115, 30);
    border-radius: 20px;
    padding: 10px;
    
}

.flores {
 text-align: center;
 
}

.flores th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
    
.flores button{
    font-weight:normal;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(235, 179, 127);
    border-radius: 20px;
    
}

.flores a{
    text-decoration: none;
    color: black;
}

                                            /* Perfil Augusto */
.Augusto img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;   
    height: 100px;
    width: 100px;
    display:inline-block;
    border-radius: 10px;
    
}

.Augusto  table { 
    display:inline-block;
    padding-left: 0px;
    background-color: rgb(185, 24, 24);
    border-radius: 20px;
    padding: 10px;
    
}

.Augusto {
 text-align: center;
 
}

.Augusto th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
    
.Augusto button{
    font-weight:normal;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(209, 112, 112);
    border-radius: 20px;
    
}

.Augusto a{
    text-decoration: none;
    color: black;
}


                                                    /* Perfil Isaque */
  .Isaque img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;   
    height: 100px;
    width: 100px;
    display:inline-block;
    border-radius: 10px;
    
}

.Isaque  table { 
    display:inline-block;
    padding-left: 0px;
    background-color: rgb(104, 98, 98);
    border-radius: 20px;
    padding: 10px;
    
}

.Isaque {
 text-align: center;
 
}

.Isaque th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
    
.Isaque button{
    font-weight:normal;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(158, 158, 158);
    border-radius: 20px;
    
}

.Isaque a{
    text-decoration: none;
    color: black;
}


                                                            /* Perfil Leandro*/
 .Leandro img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;   
    height: 100px;
    width: 100px;
    display:inline-block;
    border-radius: 10px;
    
}

.Leandro table { 
    display:inline-block;
    padding-left: 0px;
    background-color: rgb(54, 89, 202);
    border-radius: 20px;
    padding: 10px;
    
}

.Leandro{
 text-align: center;
 
}

.Leandro th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
    
.Leandro button{
    font-weight:normal;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(114, 125, 189);
    border-radius: 20px;
    
}

.Leandro a{
    text-decoration: none;
    color: black;
}







                                /* Perfil Benites */

                                .Leandro img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;   
    height: 100px;
    width: 100px;
    display:inline-block;
    border-radius: 10px;
    
}

.Leandro table { 
    display:inline-block;
    padding-left: 0px;
    background-color: rgb(54, 89, 202);
    border-radius: 20px;
    padding: 10px;
    
}

.Leandro{
 text-align: center;
 
}

.Leandro th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
    
.Leandro button{
    font-weight:normal;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(113, 130, 206);
    border-radius: 20px;
    
}

.Leandro a{
    text-decoration: none;
    color: black;
}

/* Perfil Benites */

.Benites img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;   
    height: 100px;
    width: 100px;
    display:inline-block;
    border-radius: 10px;
    
}

.Benites table { 
    display:inline-block;
    padding-left: 0px;
    background-color: rgb(239, 241, 105);
    border-radius: 20px;
    padding: 10px;
    
}

.Benites{
 text-align: center;
 
}

.Benites th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
    
.Benites button{
    font-weight:normal;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(223, 213, 128);
    border-radius: 20px;
    
}

.Benites a{
    text-decoration: none;
    color: black;
}


                                                                                /* HOME */

.titulo-inicial{
    font-family: 'Staatliches', cursive;
    color: rgb(39, 12, 12);
    text-align: center;
}






                                                                            


                                                                                /* Sobre */
.sobre-texto{
    height: 100%;
    width: 100%;
    background-color: rgb(122, 77, 77);
    border:30px;
    padding: 15px;
    border-radius: 20px;
    align-items: center;
    height: auto;
    width: 620px;
    text-align:center;
    margin-top: 30px;
    color: rgb(68, 35, 35);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: small;
    

}
.sobre-lei1{
    height: 100%;
    width: 100%;
    background-color: rgb(122, 77, 77);
    border:30px;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    width: 620px;
    text-align:center;
    margin-top: 30px;
    color: rgb(68, 35, 35);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    

}


.sobre-imagem{
    text-align: center;
    padding-top: 80px;

}

.sobre-imagem img {
    width: 130px;
    /* left: 20px; */
}


.sobret{
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(105, 23, 23);
 text-align: center;
  margin: 20px;
}


.container-sobre{
    display: flex;
}
                                                                            /* CARROSSEL */
.tudo1{
   background-color: rgb(211, 183, 178);
}                                                                            
.tudo2{
    max-width: 1000px;
    max-height: auto;
    
}                          




@media screen and (max-width:900px){
    .sobre img{
        position: absolute;
        top:0;
        left: 50%;
        margin-top: 380px;
        
    }
    .Texto-informativo{
        margin-top: 130px;
    }
}

@media screen and (max-width:650px) {
    
    .container-sobre{
        display: block;
    }

    .sobre-texto h1{
        margin-top: 50px;
    }

    #menu-h ul{
        display: block;

    }

    #menu-h li {
        text-align: center;
    }
    
}